


.container {
  display: center;
  flex-wrap: wrap;
}


.photo {
  flex: center;
}

.header {
      margin: 55px;
      text-align: center;
      font-size: 30px;
      color: black;
      font-family: "Gill Sans Extrabold", sans-serif;

}








